<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <div class="sidenav-wrap">
      <h3 class="sidenav-title">Start point</h3>
      <div class="point-coords" *ngIf="start">[{{start.getLatLng().lat}}, {{start.getLatLng().lng}}]</div>
      <div class="point-coords point-coords-warn" *ngIf="!start">Start point not set!</div>
      <button class="marker-button" *ngIf="!start && pickedPoint !== 'start'" mat-stroked-button color="warn" (click)="togglePick('start')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="pickedPoint === 'start'" mat-flat-button color="warn" (click)="togglePick('start')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="start && pickedPoint !== 'start'" mat-stroked-button (click)="togglePick('start')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="start" mat-stroked-button color="warn" (click)="deletePoint('start')"><i class="material-icons">delete</i></button>
    </div>
    <div class="sidenav-wrap">
      <h3 class="sidenav-title">End point</h3>
      <div class="point-coords" *ngIf="end">[{{end.getLatLng().lat}}, {{end.getLatLng().lng}}]</div>
      <div class="point-coords point-coords-warn" *ngIf="!end">Start point not set!</div>
      <button class="marker-button" *ngIf="!end && pickedPoint !== 'end'" mat-stroked-button color="warn" (click)="togglePick('end')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="pickedPoint === 'end'" mat-flat-button color="warn" (click)="togglePick('end')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="end && pickedPoint !== 'end'" mat-stroked-button (click)="togglePick('end')"><i class="material-icons">pin_drop</i></button>
      <button class="marker-button" *ngIf="end" mat-stroked-button color="warn" (click)="deletePoint('end')"><i class="material-icons">delete</i></button>
    </div>
    <div *ngIf="startComputed" class="sidenav-wrap">
      <h3 class="sidenav-title">Computed start</h3>
      <div class="point-coords">[{{startComputed.getLatLng().lat}}, {{startComputed.getLatLng().lng}}]</div>
    </div>
    <div *ngIf="endComputed" class="sidenav-wrap">
      <h3 class="sidenav-title">Computed end</h3>
      <div class="point-coords">[{{endComputed.getLatLng().lat}}, {{endComputed.getLatLng().lng}}]</div>
    </div>
    <mat-divider *ngIf="routes.length > 0 && loading === -1"></mat-divider>
    <div *ngIf="routes.length > 0 && loading === -1" class="sidenav-wrap sidenav-route-info">
      <h2 class="sidenav-title"><span matBadge="{{routes.length >= 20 ? '20+' : routes.length}}">Routes</span></h2>
      <div *ngFor="let routeProp of routesProperties; let i = index">
        <p>
          <span class="sidenav-route-name">#{{i + 1}}</span>
          <span class="sidenav-route-costs">{{routeProp.costs.distance.toFixed(3)}}km/{{routeProp.costs.time.toFixed(3)}}h</span>
        </p>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="credits">Icons made by <a href="https://www.flaticon.com/authors/cursor-creative" title="Cursor Creative">Cursor Creative</a> and <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{(isHandset$ | async ) ? 'GAR' : 'Generating (Good) Alternative Routes'}}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="displayedContent='map'">
        <mat-icon class="toolbar-icon">map</mat-icon>
      </button>
      <button mat-icon-button (click)="displayedContent='skyline';skyline.drawSkyline(skylineData)" [disabled]="skylineData.length === 0">
        <mat-icon class="toolbar-icon">timeline</mat-icon>
      </button>
      <button mat-icon-button (click)="displayedContent='settings'">
        <mat-icon class="toolbar-icon">settings</mat-icon>
      </button>
    </mat-toolbar>
    <div *ngIf="displayedContent === 'map'"
         id="map"
         leaflet
         (leafletMapReady)="onMapReady($event)"
         (leafletClick)="mapClick($event)"
         [leafletOptions]="options"
         [leafletLayersControl]="layersControl">
    </div>
    <mat-progress-bar
      *ngIf="loading !== -1"
      class="progress-bar"
      color="warn"
      mode="determinate"
      [value]="loading"
      [bufferValue]="0">
    </mat-progress-bar>
    <button class="mat-fab fab" *ngIf="start && end && topKFormControl.valid && simplificationFormControl.valid && displayedContent === 'map'" (click)="generatePaths()"><img src="assets/destination.svg"></button>
    <app-skyline *ngIf="displayedContent === 'skyline'"></app-skyline>
    <div *ngIf="displayedContent === 'settings'">
      <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Start & End">
          <div class="settings">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/map2.svg">
                <mat-card-title>Nearest node limit</mat-card-title>
                <mat-card-subtitle>Max distance from existing road</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Distance in kilometers" [formControl]="topKFormControl"
                           [errorStateMatcher]="matcher" type="number">
                    <mat-error *ngIf="(topKFormControl.hasError('min') || topKFormControl.hasError('max')) && !topKFormControl.hasError('required')">
                      Enter a number between 0 and 10
                    </mat-error>
                    <mat-error *ngIf="topKFormControl.hasError('required')">
                      This field is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/treasure-map.svg">
                <mat-card-title>MBR margin</mat-card-title>
                <mat-card-subtitle>Minimal boundary rectangle's margin</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Distance in kilometers" [formControl]="topKFormControl"
                           [errorStateMatcher]="matcher" type="number">
                    <mat-error *ngIf="(topKFormControl.hasError('min') || topKFormControl.hasError('max')) && !topKFormControl.hasError('required')">
                      Enter a number between 0 and 10
                    </mat-error>
                    <mat-error *ngIf="topKFormControl.hasError('required')">
                      This field is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
        <mat-tab label="Pathfinding">
          <div class="settings">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/map.svg">
                <mat-card-title>
                  Graph simplifying
                </mat-card-title>
                <mat-card-subtitle># of graph simplifications</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Simplification rounds" [formControl]="simplificationFormControl"
                           [errorStateMatcher]="matcher" type="number">
                    <mat-error *ngIf="(simplificationFormControl.hasError('min') || simplificationFormControl.hasError('max')) && !simplificationFormControl.hasError('required')">
                      Enter a number between 0 and 10
                    </mat-error>
                    <mat-error *ngIf="simplificationFormControl.hasError('required')">
                      This field is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/route.svg">
                <mat-card-title>TopK rounds</mat-card-title>
                <mat-card-subtitle># of iterations of Yen's alg.</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <form>
                  <mat-form-field>
                    <input matInput placeholder="Top K" [formControl]="topKFormControl"
                           [errorStateMatcher]="matcher" type="number">
                    <mat-error *ngIf="(topKFormControl.hasError('min') || topKFormControl.hasError('max')) && !topKFormControl.hasError('required')">
                      Enter a number between 0 and 30
                    </mat-error>
                    <mat-error *ngIf="topKFormControl.hasError('required')">
                      This field is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </form>
              </mat-card-content>
            </mat-card>
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/panel.svg">
                <mat-card-title>Cost function</mat-card-title>
                <mat-card-subtitle>Determining edge's cost</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <mat-form-field>
                  <mat-select placeholder="Cost function" color="accent">
                    <mat-option *ngFor="let costFunction of costFunctions" [value]="costFunctions[2]">
                      {{costFunction}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-card-content>
            </mat-card>
            <!--<mat-card>-->
            <!--<mat-card-header>-->
            <!--<img mat-card-avatar src="assets/route2.svg">-->
            <!--<mat-card-title>Keep Yen's paths</mat-card-title>-->
            <!--<mat-card-subtitle>Modification of Yen's alg.</mat-card-subtitle>-->
            <!--</mat-card-header>-->
            <!--<mat-card-content>-->
            <!--Do not discard computed alternative paths in Yen's algorithm.-->
            <!--<mat-checkbox>Keep candidate paths</mat-checkbox>-->
            <!--</mat-card-content>-->
            <!--</mat-card>-->
          </div>
        </mat-tab>
        <mat-tab label="Postprocessing">
          <div class="settings">
            <mat-card>
              <mat-card-header>
                <img mat-card-avatar src="assets/map3.svg">
                <mat-card-title>Apply skyline</mat-card-title>
                <mat-card-subtitle>Use the syline algorithm</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                Keep only paths that are not dominated by any other path.
                <mat-checkbox>Apply skyline</mat-checkbox>
              </mat-card-content>
            </mat-card>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

