<mat-tab-group mat-stretch-tabs>
  <mat-tab label="Start & End">
    <div class="settings">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/map2.svg">
          <mat-card-title>Nearest node limit</mat-card-title>
          <mat-card-subtitle>Max distance from existing road</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Distance in kilometers" [formControl]="maxNearestFormControl"
                     [errorStateMatcher]="matcher" type="number">
              <mat-error *ngIf="(maxNearestFormControl.hasError('min') || maxNearestFormControl.hasError('max')) && !maxNearestFormControl.hasError('required')">
                Enter a number between 0 and 10
              </mat-error>
              <mat-error *ngIf="maxNearestFormControl.hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/treasure-map.svg">
          <mat-card-title>MBR margin</mat-card-title>
          <mat-card-subtitle>Minimal boundary rectangle's margin</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Distance in kilometers" [formControl]="mbrMarginFormControl"
                     [errorStateMatcher]="matcher" type="number">
              <mat-error *ngIf="(mbrMarginFormControl.hasError('min') || mbrMarginFormControl.hasError('max')) && !mbrMarginFormControl.hasError('required')">
                Enter a number between 0 and 10
              </mat-error>
              <mat-error *ngIf="mbrMarginFormControl.hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Pathfinding">
    <div class="settings">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/map.svg">
          <mat-card-title>
            Graph simplifying
          </mat-card-title>
          <mat-card-subtitle># of graph simplifications</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Simplification rounds" [formControl]="simplificationFormControl"
                     [errorStateMatcher]="matcher" type="number">
              <mat-error *ngIf="(simplificationFormControl.hasError('min') || simplificationFormControl.hasError('max')) && !simplificationFormControl.hasError('required')">
                Enter a number between 0 and 10
              </mat-error>
              <mat-error *ngIf="simplificationFormControl.hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/route.svg">
          <mat-card-title>TopK rounds</mat-card-title>
          <mat-card-subtitle># of iterations of Yen's alg.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Top K" [formControl]="topKFormControl"
                     [errorStateMatcher]="matcher" type="number">
              <mat-error *ngIf="(topKFormControl.hasError('min') || topKFormControl.hasError('max')) && !topKFormControl.hasError('required')">
                Enter a number between 0 and 30
              </mat-error>
              <mat-error *ngIf="topKFormControl.hasError('required')">
                This field is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/panel.svg">
          <mat-card-title>Cost function</mat-card-title>
          <mat-card-subtitle>Determining edge's cost</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-select placeholder="Cost function" [(value)]="selectedCostFunction">
              <mat-option *ngFor="let costFunction of costFunctions" [value]="costFunction">
                {{costFunction}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-content>
      </mat-card>
      <mat-card>
      <mat-card-header>
      <img mat-card-avatar src="assets/route2.svg">
      <mat-card-title>Keep Yen's paths</mat-card-title>
      <mat-card-subtitle>Modification of Yen's alg.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
      Do not discard computed alternative paths in Yen's algorithm.
      <mat-checkbox [(ngModel)]="yenKeep">Keep candidate paths</mat-checkbox>
      </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Postprocessing">
    <div class="settings">
      <mat-card>
        <mat-card-header>
          <img mat-card-avatar src="assets/map3.svg">
          <mat-card-title>Apply skyline</mat-card-title>
          <mat-card-subtitle>Use the skyline algorithm</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          Keep only paths that are not dominated by any other path.
          <mat-checkbox [(ngModel)]="skyline">Apply skyline</mat-checkbox>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-tab>
</mat-tab-group>
